$bg-color: #149ECA;

.cad-button {
  > button {
    background-color: $bg-color;
    border: 0;
    color: #EBECF0;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
  }
  > button:hover {
    background-color: darken($bg-color, 20%);
  }
}