@use 'colors';

.cad-button {
  > button {
    background-color: colors.$primary-color;
    border: 0;
    color: colors.$light-primary-color;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
  }
  > :not(button:disabled):hover  {
    background-color: darken(colors.$primary-color, 20%);
  }
  > button:disabled,
  > button[disabled] {
    opacity: 0.5;
    cursor: default;
  }
}