$primary-color: #149ECA;

.cad-gif {
  display: flex;
  flex-direction: row;
  padding: 1%;
  > img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    transition: all 0.20s;
    border-style: solid;
    border-color: $primary-color;
    border-width: 0;
  }
  > img:hover {
    transform: scale(1.2);
    border-width: 2px;
    padding: 4px;
    border-radius: 2px;
    background-color: #23272F;
  }
}

@media (min-width: 1280px) {
  .cad-gif {
    width: 8%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .cad-gif {
    width: 18%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .cad-gif {
    width: 23%;
  }
}

@media only screen and (max-width: 768px) {
  .cad-gif {
    width: 48%;
  }
}